

#listado{
     height: 55vh;
   overflow-y: scroll; 
}

#filtro{ 
    padding-top: 10px;
     display: flex;
  justify-content: center;
  align-items: center;
}

#boton-centrado{
  
     display: flex;
  justify-content: center;
  align-items: center;
   
}
.superponer{
     position: absolute;
  top: 0.5px;
  left: 20%;
 
  height: 100px;
 
  z-index: 1; 
}

#listaVentas{
     height: 30vh;
   overflow-y: scroll; 
}


