.modulo {
  display: none; /* Oculta todos los módulos por defecto */
    /*width: 100%;*/
    height: 52vh;
    border: 1px solid black;
    overflow-y: scroll; /* O overflow-y: auto; */
   
}

.modulo.activo {
  display: block; /* Muestra el módulo seleccionado */
}


/*
class es con punto .
id es hashtag #
etiqueta es con nombre de etiqueta ejemplo p
*/